body {
background-color: beige;
}

a{color:lightblue;
}


.full{
    margin: auto;
width: 70%;
border: 5px solid midnightblue;
padding: 10px;
    min-height: 500px;
    display: grid;
    grid-template-columns: 30% 70%;
}

 .left{
    position: initial;
    padding: 30px;
    min-height: 500px;
    background-color: midnightblue;
    display: grid; 
    grid-template-rows: 2fr 2fr 4fr;
 }

.right{
    min-height: 500px;
    padding: 40px;
    background-color: lightblue;
    display:grid;
    grid-template-rows: auto;
}
   
.bilde{
    position: top;
    height: 230px;
   
}
img{
    border-radius: 3cm;
}

h1{
    font-size: 30px;
    vertical-align: middle;
    
}
.kontakti{
    padding-top: 1cm;
    color: white;
    
}
.checked {
    color: orange;
  }
.Valodas{
    padding-top:1cm;
    color:white;
  }

ul{
    list-style-type:circle;
    text-indent: 3px;
  }
.Darbs{
    padding-top: 0,8cm;
  }
.Izglītītba{
    padding-top: 0,8cm;
}
.Papildus{
    padding-top: 0,8cm;
}
.Hobiji{
    padding-top: 0,7cm;
}